
.service{
   background-color: #faf9ff;
}
.service__list{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0;
   @media screen and (min-width: 768px){
      flex-direction: row; 
      justify-content: center;
      flex-wrap: wrap;   
   }
}

.service__item{
   padding: 110px 25px 105px;
   display: flex;
   flex-direction: row;
   align-items: center;
   &:hover,
   &:focus{
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
   }

   
}

.service__content{
   display: flex;
   flex-direction: column;
   width: 305px;
   @media screen and (min-width: 768px){
      width: 215px;     
   }
   @media screen and (min-width: 992px){
         width: 175px;   
   }
   @media screen and (min-width: 1200px){
         width: 244px;      
   }
 
}

.service__title{
   padding: 15px 0 0 0;
   margin: 0 0 8px 0;
   font-size: 24px;
   font-weight: 600;
   color: #3e3e3e;
   @media screen and (min-width: 992px){
      font-size: 18px;
   }
   @media screen and (min-width: 1200px){
      font-size: 24px;
}
}

.service__discription{
   color: #999999;
   font-size: 14px;
   font-weight: 400;
   line-height: 25px;
   margin: 0 0 15px;
}



.service__icon{
   width: 51px;
   height: 51px;
   margin: 40px 20px 0 0;
}
