.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
 }

 .frontview{
   //  height: 100vh;
   height: 500px;   
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/frontview_optimized.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; 
          flex-grow: 1;
 }

 
@media screen and (min-width: 360px) {
   .frontview {
       height: 500px;      
   }    
}
@media screen and (min-width: 768px) {
   .frontview {
      height: 500px;      
  }    

   }

@media screen and (min-width: 1024px) {
   .frontview {
      height: 650px;      
  }    
}

@media screen and (min-width: 2560px) {
   .frontview {
      width: 1170px;
      height: 650px;      
  }    
}
