
.pricing{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 130px 0 70px 0;
   text-transform: capitalize;
   background-color: #ffffff;

}

.pricing__heading{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 0 55px 0;
   width: 426px;
   // @media screen and (min-width: 768px){
   //    width: 487.2px;
   // }
   // @media screen and (min-width: 992px){
   //    width: 514.8px; 
   // }
   // @media screen and (min-width: 1200px){
   //    width: 554.4px;      
   // }
   p{
      color: #999999;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      margin: 0 0 10px;
      text-align: center;
   }
}

.pricing__sectionTitle{
      margin: 0 0 24px 0;
      font-size: 40px;
      font-weight: 600;
      color: #3e3e3e;
}

.pricing__list{
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   @media screen and (min-width: 768px){
      flex-direction: row; 
      justify-content: center;
      flex-wrap: wrap;   
   }
}


.pricing__content{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 426px;
   // height: 379px;
   padding: 65px 0 0 0;
   margin: 0 0 30px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   &:hover,
   &:focus{
      background-color: #f04c5a;
      border-radius: 10px;
      transition: all 0.3s ease 0s;
      h5{
         color: #ffffff;
      };
      p{
         color: #ffffff;
      }

      
   };
   
  
 
}


 
.pricing__details{
   display: flex;
   flex-direction: column;
   align-items: center;
   // margin: 20px 0 0 0;   
   width: 426px;
   @media screen and (min-width: 768px){
      width: 336px;
   }
   @media screen and (min-width: 992px){
      width: 296px; 
   }
   @media screen and (min-width: 1200px){
      width: 365px;      
   }
 span{
   color: #3e3e3e;   
   font-size: 50px;
   font-weight: 300;
   line-height: 45px;
   padding: 20px 0 22px;
 }
 ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 0 40px;
   li{
      color: #999999;
    display: block;
    font-size: 16px;
    line-height: 38px;
   }
 }

}

.pricing__title{
   font-size: 20px;
   font-weight: 400;
   text-transform:uppercase;
   margin: 0 0 8px 0;
   color: #3e3e3e;   
}

.pricing__btn{ 
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    padding: 24px 45px;
    color: #383838;
    transition: all 0.4s ease 0s;
    text-transform:uppercase;

}


   


// .feature__content{
//    display: flex;
//    flex-direction: column;
//    width: 305px;
//    @media screen and (min-width: 768px){
//       width: 215px;     
//    }
//    @media screen and (min-width: 992px){
//          width: 175px;   
//    }
//    @media screen and (min-width: 1200px){
//          width: 244px;      
//    }
 
// }

// .feature__title{
//    padding: 15px 0 0 0;
//    margin: 0 0 8px 0;
//    font-size: 24px;
//    font-weight: 600;
//    color: #3e3e3e;
//    @media screen and (min-width: 992px){
//       font-size: 18px;
//    }
//    @media screen and (min-width: 1200px){
//       font-size: 24px;
// }
// }

// .feature__discription{
//    color: #999999;
//    font-size: 14px;
//    font-weight: 400;
//    line-height: 25px;
//    margin: 0 0 15px;
// }



// .feature__icon{
//    width: 51px;
//    height: 51px;
//    margin: 40px 20px 0 0;
// }
